<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidattendancesystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
         android:name="com.android.attendance.context.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="NWMSU Attendance Management"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.attendance.activity.MainActivity"
            android:exported="true"
            android:label="NWMSU Attendance Management" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.android.attendance.activity.LoginActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.MenuActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.AddFacultyActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
        <activity
            android:name="com.android.attendance.activity.AddStudentActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
        <activity
            android:name="com.android.attendance.activity.ViewFacultyActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
        <activity
            android:name="com.android.attendance.activity.ViewStudentActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
        <activity
            android:name="com.android.attendance.activity.TestActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.ViewStudentByBranchYear"
            android:label="NWMSU Attendance Management" >
        </activity>
          <activity
            android:name="com.android.attendance.activity.AddAttandanceSessionActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.AddAttendanceActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.ViewAttendanceByFacultyActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
         <activity
            android:name="com.android.attendance.activity.ViewAttendancePerStudentActivity"
            android:label="NWMSU Attendance Management" >
        </activity>
        
    </application>

</manifest>
